@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Book.woff2') format('woff2'), url('../fonts/Maison Neue Book.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Medium.woff2') format('woff2'), url('../fonts/Maison Neue Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Bold.woff2') format('woff2'), url('../fonts/Maison Neue Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Orpheus Pro';
  src: url('../fonts/Orpheus Pro Bold.woff2') format('woff2'), url('../fonts/Orpheus Pro Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('../fonts/SweetSansPro-Bold.woff2') format('woff2'), url('../fonts/SweetSansPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

// at mobile screen sizes, shrink the base font size from 20px to 16px
@include breakpoint(xs) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-body;
  line-height: $line-height-body;
  font-size: 2rem;
  color: $colour-brand--green;
}

// remove anchor blue and underline
a {
  color: inherit;
  text-decoration: none;
}

.alpha,
.bravo {
  font-family: 'Orpheus Pro';
}

.alpha {
  font-size: 6.8rem;
  line-height: $line-height-headings;
}

.charlie {
  font-family: 'Sweet Sans Pro';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &--xs {
    font-size: 1.1rem;
  }
}

.btn {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;

  &--border {
    padding: 1em 1.25em;
    border: 1px solid white;
    border-radius: 2px;
  }
}
