@font-face {
  font-family: 'Maison Neue';
  src: url('Maison Neue Book.woff2') format('woff2'), url('Maison Neue Book.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('Maison Neue Medium.woff2') format('woff2'), url('Maison Neue Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('Maison Neue Bold.woff2') format('woff2'), url('Maison Neue Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Orpheus Pro';
  src: url('Orpheus Pro Bold.woff2') format('woff2'), url('Orpheus Pro Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SweetSansPro';
  src: url('SweetSansPro-Bold.woff2') format('woff2'), url('SweetSansPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
