@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Book.woff2') format('woff2'), url('../fonts/Maison Neue Book.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-body;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Medium.woff2') format('woff2'), url('../fonts/Maison Neue Medium.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison Neue Bold.woff2') format('woff2'), url('../fonts/Maison Neue Bold.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'Orpheus Pro';
  src: url('../fonts/Orpheus Pro Bold.woff2') format('woff2'), url('../fonts/Orpheus Pro Bold.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('../fonts/SweetSansPro-Bold.woff2') format('woff2'), url('../fonts/SweetSansPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-bold;
}

html {
  font-size: 62.5%;
}

// at mobile screen sizes, shrink the base font size from 18px to 16px
@include breakpoint(xs) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-body;
  line-height: $line-height-body;
  font-size: 1.8rem;
  color: $colour-brand--green;
}

.text-body {
  &--small {
    font-size: 1.7rem;
  }

  &--large {
    font-size: 2rem;
  }

  &--bold {
    font-weight: 500;
  }
}

// remove anchor blue and underline
a {
  color: inherit;
  text-decoration: none;
}

.alpha,
.bravo {
  font-family: $font-family-headings;
}

.alpha {
  font-size: 6.8rem;
  line-height: $line-height-headings;
}

.bravo {
  font-size: 4rem;
  letter-spacing: -0.5px;
  line-height: 4.8rem;
}

.charlie {
  font-family: $font-family-subheadings;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.6rem;

  &--xs {
    font-size: 1.1rem;
  }

  &--lg {
    font-size: 2rem;
  }
}

.delta {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
}

.btn {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;

  &--nav {
    transition: color $transition-time $transition-curve;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &--border {
    padding: 1em 1.25em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1px;
    transition: border-color $transition-time $transition-curve, background-color $transition-time $transition-curve;

    &:hover {
      border-color: rgba(255, 255, 255, 1);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &--fill {
    padding: 1.1em 2.5em;
    background-color: $colour-brand--green;
    color: white;
    border: 1px solid $colour-brand--green;
    border-radius: 2px;
    transition: background-color $transition-time $transition-curve, color $transition-time $transition-curve;

    &:hover {
      background-color: transparent;
      color: $colour-brand--green;
    }
  }
}

.divider {
  position: relative;
  padding-left: 7rem;

  &::before {
    content: '';
    width: 5rem;
    height: 1px;
    background-color: $colour-brand--green;
    position: absolute;
    top: 45%;
    left: 0;
  }
}
