$colour-brand--green: #008367;
$colour-brand--cream: #fcf4e8;

$font-family-body: 'Maison Neue', Helvetica, sans-serif;
$font-family-headings: 'Orpheus Pro', serif;
$font-family-subheadings: 'Sweet Sans Pro', Helvetica, sans-serif;

$line-height-body: 1.4;
$line-height-headings: 1.2;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-body: 400;

$transition-time: 0.2s;
$transition-curve: ease;

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
);

$container-max-widths: (
  xs: 335px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
);
