
@font-face {
    font-family:"SweetSansPro-Bold";
    src:url("SweetSansPro-Bold.woff2") format("woff2"),url("SweetSansPro-Bold.woff") format("woff"),url("SweetSansPro-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        