
@font-face {
    font-family:"OrpheusPro-Bold";
    src:url("Orpheus Pro Bold.woff2") format("woff2"),url("Orpheus Pro Bold.woff") format("woff"),url("Orpheus Pro Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        