.building {
  &__header {
    margin-bottom: 5rem;
  }

  &__image-wrapper {
    &:before {
      padding-top: 61.0526315789%;
    }
  }

  &__title-card {
    margin-left: -33.333333333%;
    margin-top: 9rem;
  }

  &__title-card-inner {
    text-align: center;
    background: white;
    padding: 7.5rem 6.5rem;

    * + * {
      margin-top: 2.5rem;
    }
  }

  &__main {
    margin-bottom: 15rem;
  }
}
