.building {
  position: relative;
  margin-bottom: 12rem;
  padding-top: 8rem;

  &::before {
    content: '';
    background-color: $colour-brand--cream;
    position: absolute;
    top: 0;
    left: calc((100vw - 100%) / -2);
    z-index: -1;
    width: 100vw;
    height: 75%;
  }

  &__header {
    margin-bottom: 5rem;
  }

  &__image-wrapper {
    &:before {
      padding-top: 61.0526315789%;
    }
  }

  &__title-card {
    margin-left: -49.999999998%;
  }

  &__title-card-inner {
    text-align: center;
    background: white;
    padding: 7.5rem 6.5rem;

    * + * {
      margin-top: 2.5rem;
    }
  }
}

@include breakpoint(xl) {
  .building {
    &__title-card {
      margin-left: -33.333333333%;
      margin-top: 9rem;
    }
  }
}
