.section-hero {
  width: 100vw;
  height: 100vh;
  background: $colour-brand--green;
  color: white;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    object-fit: cover;
  }
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  &__main {
    text-align: center;
    margin: auto 0;

    h2 {
      margin-bottom: 0.2em;
    }

    p {
      max-width: 30em;
      margin: 0 auto;
    }
  }

  &__scroll-cta {
    display: flex;
    margin-bottom: 1.25em;

    a {
      margin: 0 auto;
      display: inline-block;
      position: relative;
      padding: 1em 2em 2em;
    }

    a::after {
      content: '';
      width: 1em;
      height: 1rem;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: translateX(-50%) rotate(-45deg);
      position: absolute;
      bottom: 10%;
      left: 48%;
    }
  }
}
