
@font-face {
    font-family:"Maison Neue Book";
    src:url("Maison Neue Book.woff2") format("woff2"),url("Maison Neue Book.woff") format("woff"),url("Maison Neue Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        