
@font-face {
    font-family:"Maison Neue Bold";
    src:url("Maison Neue Bold.woff2") format("woff2"),url("Maison Neue Bold.woff") format("woff"),url("Maison Neue Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        