
@font-face {
    font-family:"Maison Neue Medium";
    src:url("Maison Neue Medium.woff2") format("woff2"),url("Maison Neue Medium.woff") format("woff"),url("Maison Neue Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        